.main-header{
    background-color: black;
    padding: 20px;
    text-align: center;
}

.main-ul{
    list-style-type: none;
}

.main-ul li{
    display: inline;
    margin-right: 6px;
    margin-left: 6px;
}

.section-one{
    background-color: #ddd;
    padding: 30px;
    margin-top: 5px;
}

.info{
    list-style-type: square;
    background-color: azure;
    padding: 30px;
}

#main-title{
    background-color: pink;
    text-align: center;
    padding: 30px;
    margin-top: 5px;
}